node_modules/
logs/
/tull.mjs

# her kan vi legge til mapper og filer som vi ikke vil ha med i git-repoet

#om man ved et uhell pusher noe med sensitive data, gjør repoet private, slett repoet, lokalt gå tilbake ett hakk
# lag et nytt repo og push på nytt