<template>
    <h3 id="note-title"></h3>
    <p id="note-content"></p>
    <button id="edit-note-button" style="display: block">Edit note</button>
    <button id="delete-note-button" style="display: block" >Delete note</button>

    <form id="edit-note-form" style="display: none">
        <input type="hidden" name="note-id" required>
        <label for="edit-title">Title:</label><br>
        <input type="text" id="edit-title" name="edit-title" required><br>
        <label for="edit-content">Content:</label><br>
        <textarea id="edit-content" name="edit-content" rows="15" cols="70"></textarea><br>
        <input id="edit-note-submit" type="submit" value="Edit note"></input>
    </form>

</template>